{% extends 'base.html' %}

{% load static %}
{% block content %}


<div class='row mt-2'>
    {% for product in product_qs %}
    <div class='col-12 col-sm-6 col-lg-3 mt-2'>
        <a href="{{ product.get_absolute_url }}">
            <div class="card shadow-lg border rounded-5">

                <img src="{{ product.image }}" class='card-img-top'>
                <div class="card-body">
                    <div class="card-title text-center">
                        <span id='nm{{ product.id }}'>{{ product.title }}</span>
                    </div>
                    <div class="card-text text-center">&#8377<span id="price{{ product.id }}">{{ product.price }}</span>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center mt-2">
                            {% if user.is_authenticated %}
                            <form action=""> {% csrf_token %} <button id=' {{ product.id }}'
                                    class="btn btn-outline-dark atc p-2">Add to Cart</button></form>
                                    {% else %}
                                  <a href="{% url 'accounts:login' %}" class="btn btn-outline-dark p-2">Add to Cart</a>
                                  {% endif %}
                        </div>
                    </div>


                </div>

            </div>
        </a>
    </div>
    {% if forloop.counter == 4 %}
    <div class='mt-3'></div>
    {% endif %}
    {% endfor %}
</div>

<div class="row d-flex justify-content-center align-items-center">
    <div class="col-3 mt-3">
        <ul class="pagination">
            {% if product_qs.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ product_qs.previous_page_number }}">Previous</a>
            </li>
            {% endif %}

            <li class="page-item active">
                <a class="page-link" href="?page={{ product_qs.number }}">Current</a>
            </li>



            {% if product_qs.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ product_qs.next_page_number }}">Next</a>
            </li>
            {% endif %}

        </ul>
    </div>
</div>

{% endblock content %}
{% block js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock js %}