*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    height: 100%;
    width: 100%;
}


.card-text{
    color:green;
    font-weight: 800;
}

.card-title{
    font-weight: 900;
    height: 3em;
    line-height: 1.5em;
    overflow: hidden;
    
}



.navbar{
    background-color:#36EEE0;
}


.shop-logo{
    height: 2rem;
    width: 2rem;
}


.list-item:hover{

}

.all-items{
    margin-top: 7rem;
}