.card{
    height: 100%;
    width: 100%;
}


.card-text{
    color:green;
    font-weight: 800;
}

.card-title{
    font-weight: 900;
}



.navbar{
    background-color:#36EEE0;
}



#img{
   
   max-width:100%; /* Set the image's width to 100% of the container */
    height: auto; /* Set the image's height to 100% of the container */
    object-fit: cover; 
}